.mobil_menu{
    position: fixed;
    background-color: black;
    font-family: "Lato", sans-serif;
    height:100px;
    width: 100%;
    display: flex;
    }

.mobil_menu a{
    color: white;
}


.menu_punkt {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.logo {
    height: 80%;
    margin: auto;
}


.background{
    width: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 100px;
}

.intro{
    margin-top: 120px;
    margin-left: 7%;
    margin-right: 7%;
    display: grid;
    height: 100vh;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(17, 1fr);
}



.boks1 {
    background-image: url("images/chriss pratt.jpg");
    grid-column: 1 / span 5;
    grid-row: 1 / span 12;
}
.boks1:hover .image {
    opacity: 0.3;
}

.boks2 {
    background-color: blue;
    grid-column: 6 / span 3;
    grid-row: 1 /span 6;
}

.boks3 {
    background-color: red;
    grid-column: 6 / span 3;
    grid-row: 7 / span 6;
}

.boks4 {
    background-color: magenta;
    grid-column: 1 / span 3;
    grid-row: 13 / span 6;
}

.boks5 {
    background-color: magenta;
    grid-column: 4 / span 2;
    grid-row: 13 / span 6;
}


.boks6 {
    background-color: magenta;
    grid-column: 6 / span 3;
    grid-row: 13 / span 6;
}


.flex-box{
    margin-top: 120px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.poster{
    margin: 30px;
    padding: 20px;
    font-family: "Lato", sans-serif;
    width: 12%;
}

.poster_image{
    width: 50px;
}

.title{
    background-color: rgba(61, 60, 61, 0.9);
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 30px;
    padding-left:10px;
    padding-right: 10px;
}


.profile_picture{
    width: 25%;
}

.description{
    width: 50%;
    padding: 20px;
    font-family: "Lato", sans-serif;
}

.info_box {
    width: auto;
    background-color: grey;
    margin-left: 20px;
    padding: 20px;
    font-family: "Lato", sans-serif;
    color: white;

}

.footer{
    background-color: rgba(61, 60, 61, 0.9);
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 20%;
}































